<a href="/purchase-info?id={{id}}">
    <div class="purchase-item">
        <div class="purchase-item__block">
            <span class="title">
                ID: {{id}}
            </span>
        </div>
        <div class="purchase-item__block">
            <span class="title">Товари</span>
            <span class="text">{{product}}</span>
        </div>
        <div class="purchase-item__block">
            <span class="title">Сума замовлення</span>
            <span class="text">{{totalPrice}}</span>
        </div>
        <div class="purchase-item__block">
            <span class="title">Нараховані бонуси</span>
            <span class="text">{{bonus}}</span>
        </div>
    </div>
</a>