{{#with data}}
<div class="product-card">
    <img src="{{img}}" alt="Товар 1" class="product-card__image">
    <h2 class="product-card__title">{{title}}</h2>
    <p class="product-card__subtitle">{{description}}</p>

    {{#each category}}
    <span class="product-card__category product-card__category--{{id}}">{{text}}</span>
    {{/each}}
    <button class="product-card__button">Купити зараз: {{price}} грн</button>
</div>
{{/with}}